# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.o
*.a
*.f90.*
*.cpp.*
*.so
*.s
*.dep
*.c.*
*.i
*.ii
slave_flag
core.*
core
a.out
bak/
!.gitignore
!.clang-format
!ChangeLog
!compile_flags.txt
!ieee_arith.f90
!libomp2ath.c
!libomp2ath.S
!Makefile
!omp2ath.cpp
!slave_stubs.c
!xfort.py
*.mod
doc/_build/
swgomp-doc.pdf
.gdb_history